
.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

td,tr {
/*    border: 1px solid black;*/
}

.cart-table td {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

table {
    border-collapse: collapse;`
}

td:nth-child(3) {
    color: aqua;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cell-long {
    width: 700px;
}

.cart-table th:nth-child(2) {
    width: 400px;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover{
    color: black;
    background-color: chocolate;
}

.btn:focus{
    background-color: antiquewhite;
}

.btn:active{
    background-color: aqua;
}



.input:hover {
    background-color: fuchsia;
    border-bottom: 1px solid coral;
}

.input:focus{
    cursor: alias;
}

.custom-link {
    text-decoration: none;
}
.custom-link:link{
    color: aquamarine;
}

.main-btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor:pointer;
}

.bg-red {
    background-color: red;
}
