div,input,textarea {
    box-sizing: border-box;
}
body{
    margin: 0;
}
html{
    line-height: 1.15:
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
}

.main-title {
    color: white;
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-content {
    width:90%;
    height:150px;
    background-color: black;
    filter: opacity(60%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

p {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.main-button {
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 120px;

}

.add-content {
    width:80%;
    max-width: 600px;
    height:auto;
    background-color: ghostwhite;
    position: relative;
    margin: auto;
    opacity: 70%;
    top: 50px;
}
.text-styling {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}



.container {
    width: 80vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    display: flex;
    justify-content: center;
}

p1 {
    font-size: 30px;
}

.send-button {
    width: 80px;
    color: white;
    font-family: inherit;
    background-color: orange;
    position: absolute;
    right:20px;
}

h1 {
    margin: 3px;
    padding: 3px;
    font-size: 35px;
}

.firstname {
    width: auto;
    height: auto;
    float: left;
    margin-top: 10px;
    padding:1px;
}

.lastname {
    width: auto;
    height: auto;
    float: right;
    margin-top: 10px;
    padding: 1px;
}

.form-background {
    padding:30px;
    background-color: black;
    
}

.form-white {
    background-color: white;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    width: 80%;
}

form {
    
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.fn {
    width: 50%;
    float: left;
    padding: 10px;
}

.fn100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    margin-left: auto;
    background-color: yellow;
    float: right;
    
}

td,th {
    text-align: center;
    padding: 10px;
    color: lightblue;
    padding: 8px;
    border-bottom: 1px solid lightblue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td:nth-child(){
    color:red;
}

.wrap {
    background-color: azure;
    padding: 20px;
    width: auto;
    height: auto;
}

.edit-cart {
    font-size: 12px;
    font-family: sans-serif;
    margin: 10px;
}

h4 {
    font-size: 24px;
    font font-weight: 100;
    margin: 10px;
}

.pay-button {
    width: 30%;
    max-width: 200px;
    height: 50px;
    background-color: darkblue;
    color: whitesmoke;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    margin-top: -10px;

}

img {
    width: 150px;
    height: 100px;
}

span {
    color: lightblue;
    font-weight: 400;
}

.cart {
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.shipping {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.menu_container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    text-align: center
}

.menu_container div {
    float: left;
    width: 25%;
}

.menu_container i {
    background-color: bisque;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    color: white;
    padding-top: 13px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 0;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

h2 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

p2 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: white;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay-wrap:hover .overlay {
    opacity: 1;
    top:50px;
    height: 50%;
}



@media screen and (max-width: 1200px) {
    .menu_container div {
        width:50%;
    }

}

@media screen and (max-width: 768px) {
    .menu_container div {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }
    .shipping {
        flex-basis: 40%;
    }
    h1 {
        font-size: 25px;
    }
    p1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        flex-wrap: wrap;
    }
    .shipping {
        flex-basis: 50%;
    }
    h1 {
        font-size: 15px;
    }
    p1 {
        font-size: 10px;
    }
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top:100px;
    opacity: 0;
    transition: all 1s;
    overflow: hidden;
}
