div {
    box-sizing: border-box;
}
body {
    background-color: #f7f9fc;
}
h1 {
    font-size: 25px;
    margin: 3px;
    padding: 3px;
}
p {
    font-size: 12px;
    margin: 3px;
    padding: 3px
}
p1 {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

.profile {
    width: 80%;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 30px;
    margin: 30px;
}

.white-box {
    height: auto;
    background-color: white;
    margin: auto;
    box-shadow: 0.5px 0.5px 2px 1px #eee
}

img {
    border-radius: 100px
}

.bg-blue {
    color: #6fbaf8
}



i {
    margin-left: 7px;

}

.btn-blue {
    color: white;
    background-color: #6fbaf8
}

.wrap {
    widows: 100%;
    height: auto;
    background-color: #f7f9fc;
    margin-top: 20px;
}

.profile_po {
    margin-top: 30px;
    margin-left: 45px;
    
}



.skill {
    border-top: 1px solid dimgray;
    width: 90%;
    height: auto;
}

p2 {
    padding: 2px;
    font-size: 14px;
}

.profile_name {
    text-align: left;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 12px
}

.under_bar {
    width: 145px;
}



.pill {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 100px;
    padding: 3px 12px 5px 12px;
    margin-right: 2px;
    margin-bottom: 5px;
}

.pseudo::before {
    content: "우리는 하나";
    color: red;
    font-size: 30px;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.stay {
   
}
