div {
    box-sizing: border-box;
}

p,h1 {
    margin: 5px;
    padding: 5px;
}

p1,h2 {
    margin: 3px;
    padding: 3px;
    color: white;
}
h2 {
    font-size: 18px;
}
p1 {
    font-size: 14px;
}
.container {
    width: 100%;
    max-width: 1960px;
    height: 950px;
    background:linear-gradient(rgba(21,51,189), rgba(255,65,0));
    position: relative;
}
.container img {
    width: 300px;
    position: absolute;
    right: 100px;
    top:174px;
}

.sub_content {
    width: 40%;
    height: 150px;
    max-width: 300px;
    min-width: 150px;
    position: relative;
    top: 80px;
    left: 100px;
}
button {
}
btn:hover {
    color: red;
    background-color: white;
}

.bendingline {
    position: absolute;
    width: 100%;
    top: 500px;
    text-align: center;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.offer_menu {
    width: 70%;
    max-width: 800px;
    min-width: 500px;
    height: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

.menu {
    float: left;
    width: 25%;
}
.menu i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: white;
    border-radius: 40px;
    color: rgba(255,65,0);
}

.main_menu {
    width: 100%;
    height: auto;
    position: absolute;
    text-align: center;
    top: 700px;

}
.slogan {
    margin: 20px;
    padding: 5px;
}
.contact {
    width: 70%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    height: 80px;
    margin: auto;
    position: relative;
    top: -30px;
}
.contact_menu {
    width: 33%;
    max-width: 200px;
    float: left;
}
.contact_menu i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,65,0);
    border-radius: 30px;
    color: white;
    margin-top: 15px;
}

.animation_container {
    width: 90%;
    height: 600px;
    background-color: #eee;
    margin-left: auto;
    margin-right:auto;
    position: relative;
}

.btn {
    margin-left: 10px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.bg-grey {
    background-color: dimgrey;
    color: white;
}

.animation {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.animation_item {
    float: left;
    width: 50%;
    height: 350px;
    background-size: cover;
    position: relative;
}

.animation_text {
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.white-box {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0px solid white;
    z-index: 2;
    transition: all 0.5s;
}
.white-box:hover {
    border: 15px solid white;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.bg-1 {
    background-image: url(../img/portfolio-1.jpg)
}

.bg-2 {
    background-image: url(../img/portfolio-2.jpg)
}

.bg-3 {
    background-image: url(../img/portfolio-3.jpg)
}

.bg-4 {
    background-image: url(../img/portfolio-4.jpg)
}
@media screen and (max-width: 768px) {
    .container img {
        position: absolute;
        left: 50%; transform: translate(-50%)
    }
    .sub_content {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        font-size: 10px;
        top: 15px;
        text-align: center;
    }
    button {
        margin-left: 0;
    }
    .offer_menu {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 0px;
    }
    .offer_menu h2,p1 {
        font-size: 15px;
    }
    .menu {
        width: 50%;
    }
    .main_menu {
        margin-top: -33px;
    }
    .contact {
        position: relative;
    }
    
}